[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
fastapi = "*"
uvicorn = "*"
pyyaml = "*"
passlib = "*"
bcrypt = "*"
starlette = "*"
pyjwt = "*"
python-multipart = "*"
sqlalchemy = "*"
psycopg2 = "*"


[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"
rope = "*"
alembic = "*"
pyinstaller = "*"
mypy = "*"


[requires]
python_version = "3.9"


[scripts]
srv = "uvicorn server:app --reload"
flake-code = "flake8 server"
black-code = "black server"
lint-code = "pylint server"
mypy-code = "mypy server"

migrate-db = "alembic revision --autogenerate -m "
upgrade-db-head = "alembic upgrade head"

make-installer = "pyinstaller --onefile --collect-all=passlib --collect-all=uvicorn ./server/main.py"


[pipenv]
allow_prereleases = true
