[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyyaml = "*"
passlib = "*"
bcrypt = "*"
starlette = "*"
pyjwt = "*"
python-multipart = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"
rope = "*"
alembic = "*"

[requires]
python_version = "3.9"

[scripts]
runsrv = "uvicorn server:app --reload"
flakecode = "flake8 server"
blackcode = "black server"
lintcode = "pylint server"
migratedatabase = "alembic revision --autogenerate -m "

[pipenv]
allow_prereleases = true
